body{
    margin: 10%;
    overflow: hidden;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    background-color: antiquewhite;
    width: fit-content;
}

h1{
    text-align: center;
}

.convert{
    float: right;
    margin-left: 10px;
}

.reset{
    padding: 5px;
}
